@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Lato&family=Montserrat&family=Oswald&display=swap');
 .App{
    /* font-family: 'Lato', sans-serif; */
    
    font-family: 'Oswald', sans-serif;
 }
 .brand-logo{
    font-family: 'Fruktur', cursive;
    color: violet;
 }
 .banner-title{
    font-family: 'Fruktur', cursive;
    font-size: 50px;
 }
 li{
    list-style: none; 
 }
 li a{
     text-decoration: none;
     color:aliceblue;
     transition: 0.5s;
 }
 li a:hover{
      
     color:rgb(181, 195, 207)
 }